<div class="register-container">
  <div class="register-wrapper">
    <form [formGroup]="form" (ngSubmit)="register($event)" class="register-form">
      <mat-card class="register-card">
        <mat-card-header class="register-header">
          <mat-card-title class="register-title">
            <h1>Crear cuenta</h1>
            <p class="subtitle">Regístrate para empezar</p>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="register-content">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Correo electrónico</mat-label>
            <input
              placeholder="tu@email.com"
              formControlName="email"
              matInput
              type="email"
              autocomplete="email"
            />
            @if (form.get('email')?.invalid && form.get('email')?.touched) {
            <mat-error>Ingresa un email válido</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input
              placeholder="••••••••"
              formControlName="password"
              matInput
              type="password"
              autocomplete="new-password"
            />
            @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <mat-error>Mínimo 6 caracteres</mat-error>
            } @if (form.get('password')?.hasError('invalid_password')) {
            <mat-error>Debe tener un numero</mat-error>
            }
          </mat-form-field>
          <div class="form-field-wrapper">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Confirmar contraseña</mat-label>
              <input
                placeholder="••••••••"
                formControlName="confirmPassword"
                matInput
                type="password"
                autocomplete="new-password"
                [class.error-input]="
                  form.get('confirmPassword')?.touched &&
                  (form.get('confirmPassword')?.invalid || form.hasError('passwordMismatch'))
                "
              />
            </mat-form-field>

            @if (form.get('confirmPassword')?.touched) {
            <div class="error-message">
              @if (form.get('confirmPassword')?.hasError('required')) { Este campo es requerido }
              @else if (form.hasError('passwordMismatch') && form.get('confirmPassword')?.value) {
              Las contraseñas no coinciden }
            </div>
            }
          </div>
          <!-- Tipo de cuenta -->
          <div class="account-type-section">
            <label class="section-label">Tipo de cuenta</label>
            <mat-radio-group formControlName="type" class="radio-group">
              <mat-radio-button value="company" class="radio-option">Empresa</mat-radio-button>
              <mat-radio-button value="customer" class="radio-option">Cliente</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Campo Company Name (solo si es empresa) -->
          @if (form.get('type')?.value === 'company') {
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre de la empresa</mat-label>
            <input
              placeholder="Ingresa el nombre de tu empresa"
              formControlName="companyName"
              matInput
              type="text"
            />
            @if (form.get('companyName')?.invalid && form.get('companyName')?.touched) {
            <mat-error>Este campo es requerido</mat-error>
            }
          </mat-form-field>
          }
        </mat-card-content>

        <!-- PARTE DEL BOTON -->
        <mat-card-actions class="register-actions">
          <button
            [disabled]="form.invalid"
            mat-raised-button
            type="submit"
            color="primary"
            class="register-button"
          >
            Registrarse
          </button>

          <div class="login-link">
            ¿Ya tienes cuenta? <a routerLink="/auth/login">Inicia sesión</a>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
