<div class="login-container">
  <div class="login-wrapper">
    <mat-card class="login-card">
      <div class="login-header">
        <div class="login-title">
          <h1>Bienvenido</h1>
          <p class="subtitle">Por favor ingresa tus credenciales</p>
        </div>
      </div>

      <form [formGroup]="form" (ngSubmit)="login($event)" class="login-form">
        <div class="login-content">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input placeholder="Correo electrónico" formControlName="email" matInput type="email" />
            @if (form.get('email')?.invalid && form.get('email')?.touched) {
            <mat-error>Por favor ingresa un email válido</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input placeholder="Contraseña" formControlName="password" matInput type="password" />
            @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <mat-error> La contraseña es requerida (mínimo 6 caracteres) </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="login-actions">
          <button
            [disabled]="form.invalid"
            mat-raised-button
            color="primary"
            class="login-button"
            type="submit"
          >
            Ingresar
          </button>
           <div class="login-link">
            ¿No tienes cuenta? <a routerLink="/auth/register">Registrate</a>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
