<div class="category-container">
  <div class="category-wrapper">
    <form [formGroup]="form" (ngSubmit)="save()" class="category-form">
      <mat-card class="category-card">
        <mat-card-header class="category-header">
          <mat-card-title class="category-title">
            <h1>Categoría</h1>
            <p class="subtitle">Gestiona la información de la categoría</p>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="category-content">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input
              placeholder="Ej: Electrónica, Ropa, Alimentos..."
              matInput
              type="text"
              formControlName="name"
            />
            @if(nameField?.touched && nameField?.invalid){ @if (nameField?.hasError('required')) {
            <mat-error>El nombre es requerido</mat-error>
            } }
            @if(nameField?.hasError('minlength')){
                <mat-error>debe tener como mínimo 4 caracteres</mat-error>
            }@else if(nameField?.hasError('not_available')){
                <mat-error>Este nombre ya lo tiene otra categoria</mat-error>
            }
          </mat-form-field>

          <!-- PARTE PARA CARGA DE LA IMAGEN -->

          <input
            (change)="uploadFile($event)"
            placeholder="https://ejemplo.com/imagen.jpg"
            type="file"
          />
          <input type="hidden" formControlName="image" />

          @if(imageField?.touched && imageField?.invalid){
          <div>@if(imageField?.hasError('required')){ La imagen es requerida }</div>
          } 
          <!-- Preview de la imagen (opcional) -->
          @if(imageField?.valid && imageField?.value) {
          <div class="image-preview">
            <p class="preview-label">Vista previa:</p>
            <img [src]="imageField?.value" alt="Preview" class="preview-img" />
          </div>
          }
        </mat-card-content>

        <mat-card-actions class="category-actions">
          <button
            [disabled]="form.invalid"
            mat-raised-button
            type="submit"
            color="primary"
            class="save-button"
          >
            @if(isNew){
            <span>Crear Categoria</span>
            }@else{
            <span>Editar Categoria</span>
            }
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
